<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>알림</h1>
  {% for message in message_list%}
    {% if message.recipient == user.customer.name%}
      {% if message %}
        <a href="{% url 'sender_customer' message.pk %}">{{message.sender}}</a>님에게 팀원제의가 들어왔습니다.<a href="{%url 'alarm2' message.pk%}">알림삭제</a>   
        <h5>Sent Time: {{message.sentAt}}</h5>
      </br>
      {%endif%}
    {%endif%}
  {%endfor%}
    <br/>
    <br/>
  <form action="{% url 'home' %}">
  <button type="submit">뒤로가기</button></form>
</body>
</html>