<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>내 정보</h1>
  <form action="{% url 'edit' customer.pk %}" method = 'POST'>
    {% csrf_token %}
    <h4>이름</h4>
    <input placeholder="이름을 입력하세요" name="name" value='{{customer.name}}'/>
    <h4>email</h4>
    <input placeholder="email을 입력하세요" name="email" value='{{customer.email}}'/>
    <h4>phone_num</h4>
    <input placeholder="phone_num 을 입력하세요" name="phone_num" value='{{customer.phone_num}}'/>
    <br/>
    <br/>
    <br/>
    <br/>
    <button type="submit">내 정보 수정하기</button>
  </form>
  <br/>
  <form action="{% url 'edit2' customer.pk %}">
  {% csrf_token %}
  <button type="submit">설문 수정하러가기</button></form>
  <br/>
  <br/>
  <form action="{% url 'home' %}">
  <button type="submit">뒤로가기</button></form>
</body>
</html>