<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form action="{% url 'logout'%}" method='POST'>
        {% csrf_token %}
        <h1>팀을 찾고 계신가요?????????</h1>
        <a href="{% url 'rec' user.customer.pk %}">팀메이트 추천</a>
        <br/>
        <br/>
        <h3>혹시 스터디를 찾고 계신가요??</h3><a href="{%url 'grp' user.customer.pk %}">스터디그룹 추천받기</a>
        <br/>
        <br/>
        <br/>
        <br/>
        {{user.get_username}}님 어서오세요!!
        <br/>
        <br/>
        <a href="{% url 'edit' user.customer.pk%}">내 정보보기</a>
        <br/>
        <br/>
        <a href="{% url 'alarm' user.customer.pk%}">*알림</a>
        </br>
        </br>
        <button type='sumit'>로그아웃</button>
    {%else%}
        <h1>제목 팀메이트</h1>
        <a href="{% url 'login'%}">로그인</a>
        <br/>
        <br/>
        <a href="{% url 'signup' %}">회원가입</a>
    {% endif %}  
</body>
</html>