<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>제목 팀메이트</h1>
    <h2>로그인</h2>
    {% if error.state %}
        <h2>{{ error.msg }}</h2>
    {%endif%}
    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %}
        <input type='text' placeholder='id를 입력해주세요' name='user_id'/>
        <br/>
        <br/>
        <input type='password' placeholder='pw를 입력해주세요' name='user_pw'/>
        <br/>
        <br/>
        <button type='submit'>enter</button>
        <br/>
        <br/>
        아이디가 없으신가요?<a href="{% url 'signup' %}">회원가입하기</a>
    </form>
</body>
</html>