<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>팀메이트 추천 목록</h1>
  <div>
  {% for customer in recommend_customer_list %}
    <a href="{%url 'rec_customer' customer.pk %}">{{customer.name}}</a>
    <br/>
  {% endfor %}
    <br/>
  <form action="{% url 'home' %}">
  <button type="submit">뒤로가기</button></form>
</body>
</html>