<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>*선호역할*</h1>
    <h3>하트 10개를 베팅해주세요</h3>
    <br/>
    <form action="{% url 'signup4' user.customer.pk %}" method='POST'>
        {% csrf_token %}
        <h4>데이터분석</h4>
        <input type='text' placeholder='analysis_hearts' name='analysis_hearts'/>
        <br/>
        <h4>웹</h4>
        <input type='text' placeholder='web_hearts' name='web_hearts'/>
        <br/>
        <h4>디자인</h4>
        <input type='text' placeholder='design_hearts' name='design_hearts'/>
        <br/>
        <h4>모델링</h4>
        <input type='text' placeholder='modeling_hearts' name='modeling_hearts'/>
        <br/>
        <br/>
        <button type="submit">enter</button>
    </form>
    
</body>
</html>