{% extends "base.html" %}

{% block title %}
<title>Teammate</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    {% if user.is_authenticated %}
        <h1>Teammate</h1>
        <form action="{% url 'users:logout'%}" method='POST'>
        {% csrf_token %}
        {{user.get_username}}님 어서오세요!!
        <br/>
        <a href="{% url 'team_rec:team_rec_list' user.pk %}">팀메이트 추천</a>
        <br/>
        <a href="{% url 'edit:info_edit' user.customer.pk%}">내 정보보기</a>
        <br/>
        <br/>
        <a href="{% url 'alarm:alarm_list' user.customer.pk%}">*알림</a>
        </br>
        <button type='sumit'>로그아웃</button>
    {%else%}
        <div class="jumbotron">
            <h1>Teammate</h1>
            <p>마음이 잘 맞는 팀원을 구하세요. 함께 공부할 스터디메이트를 만나세요.</p>
            <a href="{% url 'users:login'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">로그인</a>
            <a href="{% url 'users:signup' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">회원가입</a>
        </div>

    {% endif %}  
{% endblock %}