{% extends "base.html" %}

{% block title %}
<title>마이페이지</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
  <h1>마이페이지</h1>
  <a href="{% url 'edit:info_edit' user.customer.pk %}" class="btn btn-lg btn-secondary">내 정보 수정</a>
  <a href="{% url 'edit:domain_edit' user.customer.pk %}" class="btn btn-lg btn-secondary">흥미도메인 설문 수정</a>
  <a href="{% url 'edit:score_edit' user.customer.pk %}" class="btn btn-lg btn-secondary">실력 설문 수정</a>
  <a href="{% url 'edit:role_edit' user.customer.pk %}" class="btn btn-lg btn-secondary">선호역할 설문 수정</a>
  <a href="{% url 'edit:study_edit' user.customer.pk %}" class="btn btn-lg btn-secondary">스터디 설문 수정</a>
  <form action="{% url 'home' %}">
  <button type="submit">메인으로</button></form>
{% endblock %}
