{% extends "base.html" %}

{% block title %}
<title>설문정보 수정</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#ffbbb1;">
    <a class="navbar-brand" href="{% url 'home' %}" >Teammate</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'edit:info_edit' user.pk %}">개인정보</a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'edit:domain_edit' user.customer.pk %}">흥미 설문</a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'edit:score_edit' user.customer.pk %}">실력 설문</a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link active" href="{% url 'edit:role_edit' user.customer.pk %}">역할 설문</a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'edit:study_edit' user.customer.pk %}">스터디 설문</a>
        </li>
      </ul>
      <a class="nav-link my-2 my-sm-0" style="color:white;" href="{% url 'users:logout' %}">signout</a>
    </div>
  </nav>

  <h1>내 정보</h1>
  {% if error.state %}
    <h2>{{ error.msg }}</h2>
  {%endif%}
  <form action="{% url 'edit:role_edit' customer.pk %}" method = 'POST'>
    {% csrf_token %}
    <h4>--------------------선호 역할--------------------</h4>
      <h5>데이터분석</h5>
      <input type='number' placeholder='analysis_hearts' name='analysis_hearts' value='{{role.analysis_hearts}}' min='0' max='10'/>
      <br/>
      <h5>웹</h5>
      <input type='number' placeholder='web_hearts' name='web_hearts' value='{{role.web_hearts}}' min='0' max='10'/>
      <br/>
      <h5>디자인</h5>
      <input type='number' placeholder='design_hearts' name='design_hearts' value='{{role.design_hearts}}' min='0' max='10'/>
      <br/>
      <h5>모델링</h5>
      <input type='number' placeholder='modeling_hearts' name='modeling_hearts' value='{{role.modeling_hearts}}' min='0' max='10'/>
      <br/>
      <br/>
    <button type="submit">설문조사정보 수정하기</button>
  </form>
  <br/>
{% endblock %}
