{% extends "base.html" %}

{% block title %}
<title>알람 리스트</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#ffbbb1;">
    <a class="navbar-brand" href="{% url 'home' %}" >Home</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'edit:info_edit' user.customer.pk %}">mypage</a>
        </li>
      </ul>
      <a class="nav-link my-2 my-sm-0" style="color:white;" href="{% url 'users:logout' %}">signout</a>
    </div>
  </nav>
  <br/>
  <br/>
  <br/>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Teammate request</strong>
          <br>
          {% if message_list|length == 0 %}
            <div class="mb-1 text-muted">미확인요청 없음</div>
          {% else %}
            {% for message in message_list %}
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
              <div class="mb-1 text-muted">{{message.sentAt}}</div>
              {% if message.contents|length == 0 %}
              <p class="card-text mb-auto">내용없음</p>
              {% else %}
              <p class="card-text mb-auto">{{message.contents}}</p>
              {% endif %}   
              <p class="card-text mb-auto">From. <a href="#" class="stretched-link">{{message.sender}}</a></p>     
              <br>
              <a href="{% url 'alarm:del_alarm' message.pk %}" class="stretched-link">삭제</a>
              </div> 
              </div>      
            {%endfor%}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Studymate request</strong>
          <br>
          {% if message_list2|length == 0 %}
            <div class="mb-1 text-muted">미확인요청 없음</div>
          {% else %}
            {% for message in message_list2 %}
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
              <div class="mb-1 text-muted">{{message.sentAt}}</div>
              {% if message.contents|length == 0 %}
              <p class="card-text mb-auto">내용없음</p>
              {% else %}
              <p class="card-text mb-auto">{{message.contents}}</p>
              {% endif %}   
              <p class="card-text mb-auto">From. <a href="#" class="stretched-link">{{message.sender}}</a></p>     
              <br>
              <a href="{% url 'alarm:del_alarm2' message.pk %}" class="stretched-link">삭제</a>
              </div> 
              </div>      
            {%endfor%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
