{% extends "base.html" %}

{% block title %}
<title>알람 리스트</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' href='{% static 'alarm.css' %}'/>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    <div id="main">

        <div id="header">
        </div>

        <div id="article">

            <!-- 팀 알림 영역 -->
            <div class="article_body" id='team'>
                
                <div class="alarm_title">
                    <h1>TeamMate</h1>
                    <p>알림 박스를 클릭하면 상세 정보를 조회할 수 있습니다</p>
                </div>


                <div class="alarm_container">

                {% if message_list|length == 0 %}
                  <div class="alarm_box">
                      <p style="width: 100%; text-align: center; color: #868686; margin-top: 10px;">Empty</p>                    
                  </div>
                {% else %}
                  {% for message in message_list %}
                    <div class="alarm_box">
                        <a href='{% url 'alarm:del_alarm' message.pk %}'><img src="{% static 'close_dark.png' %}" /></a>
                        <div class="alarm">
                            <a href="#" data-toggle="modal" data-target="#exampleModal{{message.pk}}">
                                <p>{{message.sender}}님에게서 팀메이트 요청 도착</p>
                                <p style="color: #868686;">{{message.sentAt}}</p>
                                <hr />
                                {% if message.contents|length == 0 %}
                                  <p>내용없음</p>
                                {% else %}
                                  <p>{{message.contents}}</p>
                                {% endif %}
                            </a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{message.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{message.sender_foreignKey.name}}님의 자기소개</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {{message.sender_foreignKey.intro}}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  {%endfor%}
                  <p>마지막입니다</p>
                {% endif %}


                </div>

            </div>

            <!-- 스터디 알림 영역 -->
            <div class="article_body">

                <div class="alarm_title">
                    <h1>StudyMate</h1>
                    <p>알림 박스를 클릭하면 상세 정보를 조회할 수 있습니다</p>
                </div>
                
                <div class="alarm_container">

                {% if message_list2|length == 0 %}
                  <div class="alarm_box">
                      <p style="width: 100%; text-align: center; color: #868686; margin-top: 10px;">Empty</p>                    
                  </div>
                {% else %}
                  {% for message in message_list2 %}
                    <div class="alarm_box">
                        <a href='{% url 'alarm:del_alarm' message.pk %}'><img src="{% static 'close_dark.png' %}" /></a>
                        <div class="alarm">
                            <a href="#" data-toggle="modal" data-target="#exampleModal{{message.pk}}">
                                <p>{{message.sender}}님에게서 스터디메이트 요청 도착</p>
                                <p style="color: #868686;">{{message.sentAt}}</p>
                                <hr />
                                {% if message.contents|length == 0 %}
                                  <p>내용없음</p>
                                {% else %}
                                  <p>{{message.contents}}</p>
                                {% endif %}
                            </a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{message.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{message.sender_foreignKey.name}}님의 자기소개</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {{message.sender_foreignKey.intro}}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  {%endfor%}
                  <p>마지막입니다</p>
                {% endif %}
    
                </div>

            </div>

            <div class="article_side">
                <h1>TeamMate</h1>
                <p><a href='{% url 'home' %}'>home</a></p>
            </div>
            
        </div>

        <div id="footer">
        </div>

    </div>
{% endblock %}
