{% extends "base.html" %}

{% block title %}
<title>팀원 정보</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
  <h1>함께할 팀원의 정보!</h1>
  <br/>
  <br/>
  회원이름 : {{customer.name}}
  <br/>
  email : {{customer.email}}
  <br/>
  폰번호: {{customer.phone_num}}
  <br/>
  <br/>
  <h4>성적_score</h4>
  웹:{{score.web}} 디자인:{{score.design}} 데이터분석:{{score.data_score}} 모델링:{{score.modeling_score}}
  <h4>도메인_score</h4>
  건강:{{domain.health}} 경제:{{domain.economy}} 문화/예술:{{domain.culture_art}} 교육:{{domain.education}} 사회:{{domain.society}} 기술:{{domain.technology}}
  <h4>선호역할_score</h4>
  데이터분석:{{role.analysis_hearts}} 웹:{{role.web_hearts}} 디자인:{{role.design_hearts}} 모델링:{{role.modeling_hearts}}
  <br/>
  <br/>
  <form action="{% url 'alarm:list' customer.pk%}">
  <button type="submit">뒤로가기</button></form>
{% endblock %}