{% extends "base.html" %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
<h1>회원가입</h1>
{% if error.state %}
    <h2>{{ error.msg }}</h2>
{%endif%}
<form action="{% url 'users:signup' %}" method="POST">
    {% csrf_token %}
    <input type='text' placeholder='id를 입력해주세요' name='user_id'/>
    <br/>
    <br/>
    <input type='password' placeholder='pw를 입력해주세요' name='user_pw'/>
    <br/>
    <br/>
    <input type='password' placeholder='pw를 다시 입력해주세요' name='user_pw_check'/>
    <br/>
    <br/>
    <input type='text' placeholder='이름을 입력해주세요' name='name'/>
    <br/>
    <br/>
    <input type='email' placeholder='이메일을 입력해주세요' name='email'/>
    <br/>
    <br/>
    <input type='tel' placeholder='123-1234-1234' pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" name='phone_num'/>
    <br/>
    <br/>
    <button type='submit'>다음</button>
</form>
{% endblock %}
