{% extends "base.html" %}

{% block static %}
<!--이 곳에 static에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    <h1>*관심있는 분야*</h1>
    <h3>하트 10개를 베팅해주세요!</h3>
    <br/>
    <form action="{% url 'users:signup2' user.customer.pk%}" method='POST'>
        {% csrf_token %}
        <h4>건강 (스포츠 + 헬스 + 의료)</h4>
        <input type='text' placeholder='건강' name='health'/>
        <br/>
        <h4>경제 (금융 + 부동산 + 비즈니스)</h4>
        <input type='text' placeholder='경제' name='economy'/>
        <br/>
        <h4>문화/예술 (음악 + 영화 + 게임 + 패션/뷰티 + 디자인)</h4>
        <input type='text' placeholder='문화/예술' name='culture_art'/>
        <br/>
        <h4>교육 (도서 + 학습)</h4>
        <input type='text' placeholder='교육' name='education'/>
        <br/>
        <h4>사회 (연애 + 소셜 + 여행 + 교통 + 뉴스)</h4>
        <input type='text' placeholder='사회' name='society'/>
        <br/>
        <h4>기술 (자연, 화학, 공학)</h4>
        <input type='text' placeholder='기술' name='technology'/>
        <br/>
        <br/>
        <button type="submit">다음</button>
    </form>
{% endblock %}
