{% extends "base.html" %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    <h1>분야별 수준을 알려주세요.</h1>
    <br/>
    {% if error.state %}
        <h2>{{ error.msg }}</h2>
    {%endif%}
    <form action="{% url 'users:signup3' user.customer.pk%}" method='POST'>
        {% csrf_token %}
        <h4>web_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range1" type="range" value="1" min="1" max="10" step="1" name="web"></input>
            <font size = 5 id = "slider_value_view1">1</font>						  
        </div>
        <br/>
        <h4>design_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range2" type="range" value="1" min="1" max="10" step="1" name="design"></input>
            <font size = 5 id = "slider_value_view2">1</font>						  
        </div>
        <br/>
        <h4>machine_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range3" type="range" value="1" min="1" max="10" step="1" name="machine_learning"></input>
            <font size = 5 id = "slider_value_view3">1</font>						  
        </div>
        <br/>
        <h4>statistics_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range4" type="range" value="1" min="1" max="10" step="1" name="statistics"></input>
            <font size = 5 id = "slider_value_view4">1</font>						  
        </div>
        <br/>
        <h4>deep_learning_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range5" type="range" value="1" min="1" max="10" step="1" name="deep_learning"></input>
            <font size = 5 id = "slider_value_view5">1</font>						  
        </div>
        <br/>
        <h4>algorithm_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range6" type="range" value="1" min="1" max="10" step="1" name="algorithm"></input>
            <font size = 5 id = "slider_value_view6">1</font>						  
        </div>
        <br/>
        <h4>nlp_score</h4>
        <div class="Container">            						  
            <input style = "width:50%;" class="slider_range7" type="range" value="1" min="1" max="10" step="1" name="nlp"></input>
            <font size = 5 id = "slider_value_view7">1</font>						  
        </div>
        <br/>
        <br/>
        <button type="submit">다음</button>
    </form>

    <script language = "javascript">
    function ShowSliderValue1(sVal)
    {	var obValueView = document.getElementById("slider_value_view1");
        obValueView.innerHTML = sVal
    }
    var RangeSlider1 = function(){
        var range = $('.slider_range1');
        
        range.on('input', function(){		
            ShowSliderValue1(this.value);
        });
    };
    RangeSlider1();

    function ShowSliderValue2(sVal)
    {	var obValueView = document.getElementById("slider_value_view2");
        obValueView.innerHTML = sVal
    }
    var RangeSlider2 = function(){
        var range = $('.slider_range2');
        
        range.on('input', function(){		
            ShowSliderValue2(this.value);
        });
    };
    RangeSlider2();

    function ShowSliderValue3(sVal)
    {	var obValueView = document.getElementById("slider_value_view3");
        obValueView.innerHTML = sVal
    }
    var RangeSlider3 = function(){
        var range = $('.slider_range3');
        
        range.on('input', function(){		
            ShowSliderValue3(this.value);
        });
    };
    RangeSlider3();

    function ShowSliderValue4(sVal)
    {	var obValueView = document.getElementById("slider_value_view4");
        obValueView.innerHTML = sVal
    }
    var RangeSlider4 = function(){
        var range = $('.slider_range4');
        
        range.on('input', function(){		
            ShowSliderValue4(this.value);
        });
    };
    RangeSlider4();

    function ShowSliderValue5(sVal)
    {	var obValueView = document.getElementById("slider_value_view5");
        obValueView.innerHTML = sVal
    }
    var RangeSlider5 = function(){
        var range = $('.slider_range5');
        
        range.on('input', function(){		
            ShowSliderValue5(this.value);
        });
    };
    RangeSlider5();

    function ShowSliderValue6(sVal)
    {	var obValueView = document.getElementById("slider_value_view6");
        obValueView.innerHTML = sVal
    }
    var RangeSlider6 = function(){
        var range = $('.slider_range6');
        
        range.on('input', function(){		
            ShowSliderValue6(this.value);
        });
    };
    RangeSlider6();

    function ShowSliderValue7(sVal)
    {	var obValueView = document.getElementById("slider_value_view7");
        obValueView.innerHTML = sVal
    }
    var RangeSlider7 = function(){
        var range = $('.slider_range7');
        
        range.on('input', function(){		
            ShowSliderValue7(this.value);
        });
    };
    RangeSlider7();
    </script>
{% endblock %}
